*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:#111111;
}

.container{
    margin: 0 10%;
}

/* Navbar */

.navbar{
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo{
    display: block;
}

.lists{
    list-style: none;
    position: relative;
}

.lists .list-item{
    margin-right: 80px;
    display: inline-block;
}

.lists .list-item:last-child{
    margin-right: 0;
}

.lists .list-item .nav-link{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    transition: .2s ease-in-out;
}

.lists .list-item .nav-link:hover{
    color: #FF3343;
}

.lists .list-item .dropdown{
    margin-left: 10px;
    font-size: 1.3rem;
    position: absolute;
    top: 5%;
}

/* Intro Section */

.intro-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-image{
    height: 810px;
    display: flex;
}

.text-wrapper{
    color: #ffffff;
}

.text-wrapper h3{
    color: #FF3343;
    font-size: 2rem;
    font-weight: 500;
}

.text-wrapper h1{
    font-size: 5.5rem;
}

.text-wrapper p{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.3;
}

.intro-btn{
    margin-top: 5%;
}

.btn{
    background-color: #C91B28;
    border: none;
    padding: 20px 50px;
    color: #ffffff;
    font-size: 1.1rem;
    transition: .2s ease-in-out;
}

.btn:hover{
    transform: translateY(-5%);
    box-shadow: 0px 1px 10px -1px #FF3343;
}

/* Rectangle */

.bg-rectangle{
    height: 1080px;
    width: 1080px;
    background-color: #181818;
    position: absolute;
    z-index: -1;
    left: 0;
}

/* About Cards */

.content-container{
    margin: 0 10%;
}

/* Top Content */

.about-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9%;
}

.about-card{
    color: #ffffff;
    background-color: #1E1E1E;
    padding: 50px 50px;
    width: 30%;
}

.about-card .card-head{
    height: 70px;
    margin-bottom: 15%;
}
.about-card .card-image{
    height: 100%;
}

.about-card .card-body h2{
    font-size: 2rem;
    font-weight: 500;
}

.about-card .card-body p{
    font-size: 1.3rem;
    font-weight: 300;
    margin: 8% 0 10%;
}

.about-card .card-body a{
    color: #FF3343;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

.about-card:hover{
    background-color: #C91B28;
}

.about-card .image-white{
    display: none;
}

.about-card:hover .image-white{
    display: block;
}

.about-card:hover .image-red{
    display: none;
}

.about-card:hover .card-body a{
    color: #ffffff;
}

/* Bottom Content */

.exp-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

/* Col-1 */

.col-1{
    width: 30%;
    text-align: center;
}

.col-1 h1{
    color: #FF3343;
    font-size: 9rem;
    font-weight: 900;
    line-height: 1;
}

.col-1 h3{
    color: #ffffff;
    font-size: 2rem;
}

/* Col-2 */

.col-2{
    width: 65%;
    height: 100%;
}

.col-2 .cards{
    text-align: center;
}

.col-2 .row-1, .col-2 .row-2{
    justify-content: space-between;
    display: flex;
}
.col-2 .rows{
    padding: 10px 0;
}

.col-2 .card{
    width: 46%;
    background-color: #1E1E1E;
    padding: 20px 30px;
}

.col-2 .card h3{
    color: #FF3343;
    font-size: 3rem;
}

.col-2 .card p{
    color: #ffffff;
}

/* Projects */

.projects{
    margin-top: 15%;
    color: #ffffff;
}

.projects-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h2{
    font-size: 2rem;
    text-transform: uppercase;
}

/* Project Cards */

.project-cards{
    margin: 5% 0;
}

.project-cards .row-1, .project-cards .row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-cards .row-1 .card, .project-cards .row-2 .card {
    background-color: #1E1E1E;
    width: 45%;
    height: 500px;
    transition: .2s ease-in-out;
}

.project-cards .row-2{
    padding-top: 2%;
}

.project-image-wrapper{
    height: 50%;
    position: relative;
}

.project-image{
    width: 90%;
    top: 45%;
    left: 5%;
    position: absolute;
    transition: .2s ease-in-out;
}

.decor{
    top: 35%;
}

.project-names{
    display: flex;
    justify-content: space-between;
}

.project-names .project-name{
    width: 45%;
    margin: 2% 0;
}

.project-names .project-name h3{
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.project-names .project-name a{
    text-decoration: none;
    color: #FF3343;
    font-size: 1.1rem;
    font-weight: 600;
}

.project-cards .card:hover{
    background-color: #FF3343;
}

.project-cards .card:hover .project-image{
    transform: translateY(-5%);
    box-shadow: 0px 11px 20px -3px #000000;
}


/* Contact */

.contact{
    width: 100%;
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0;
    color: #ffffff;
    padding: 70px;
}

.contact .contact-text h2{
    font-size: 3rem;
    margin-bottom: 5%;
}


/* Bottom Nav */


.bottom-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav-lists{
    list-style: none;
}

.bottom-nav-lists .bottom-nav-list{
    display: inline-block;
    margin-right: 50px;
}

.bottom-nav-lists .bottom-nav-list .bottom-nav-link{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    font-size: .8rem;
}

.bottom-nav-lists .bottom-nav-list .bottom-nav-link:hover{
    color: #FF3343;
}

/* Footer */

footer{
    background-color: #1E1E1E;
    margin-top: 2%;
}

.footer{
    display: flex;
    padding: 3% 0;
}

.media-icons{
    position: relative;
    left: 40%;
    display: flex;
    transform: translateX(-40%);
}

.media-icons .media-icon{
    font-size: 1.5rem;
    color: #ffffff;
    margin: 10px 30px;
}